.par1{
    color: blue;
    background-color: yellow;
    font-size: 30px;
    float: left;
    width: 200px;
    height: 200px;
    overflow:hidden;
    padding: 20px;
    border:solid;
    display: block;
}
.par2{
    color: yellow;
    background-color: blue;
    float: left;
    width: 200px;
    height: 200px;
    overflow: auto;
    padding: 20px;
    border:solid;
    font-size: 35px;
    display: block;

}
.par3{
    color: red;
    background-color: black;
    float: left;
    width: 200px;
    height: 200px;
    border:solid;
    overflow: visible;
    font-size: 25px;
    display: block;
}
.navbar{
    background-color:yellowgreen;
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
}
/* .navbar a:hover{
    background: rgb(221, 221, 221);
    color: rgb(205, 38, 38);
    margin: 0;
    padding: 0;
    z-index: -1;
}
.navbar:hover{
   
    z-index: -1;
} */
.navbar li{
    display: inline-block;
}
main {
    height: 100px
}
main:hover ~ #MJ {
    z-index: 1000000;
}
.par1:hover{
    width: 350px;
}
.par2:hover{
    rotate: 90deg;
}
.par3:hover{
    width: 350px;
}
.navbar{
    font-size: 30px;letter-spacing: 3px; word-spacing: 15px;
}
#MJ{
    font-size: x-large;letter-spacing: 4px; position: relative;
}
#Barca1{
    animation: Barca1 10s linear 1s infinite alternate ;
    padding: 40px;
}
@keyframes Barca1 {
    0%{transform: rotate(0deg);}
    50%{transform: rotate(180deg);}
    100%{transform: rotate(359deg);}
}
#Barca2{
    animation: Barca2 5s linear 1s infinite alternate ;
    padding: 40px;
}
@keyframes Barca2 {
    0%{transform:scale(.5)}
    50%{transform:scale(1.5)}
    100%{transform:scale(2.0)}
}
#Barca3{
    animation: Barca3 7s linear 1s infinite alternate ;
    padding: 40px;
}
@keyframes Barca3 {
    0%{transform:translate(0px,0px)}
    50%{transform: translate(260px,0px);}
    100%{transform:translate(0px,0px)}
}
#Barca4{
    animation: Barca4 7s linear 1s infinite alternate ;
    padding: 40px;
}
@keyframes Barca4 {
    0%{transform:translate(0px,0px)}
    50%{transform: translate(-260px,0px);}
    100%{transform:translate(0px,0px)}
}




