header, footer{
    background-color: antiquewhite;
    position: fixed;
    text-align: center;
}
main{
    background-color: aquamarine ;
    flex: 0 0 80%;
    padding: 30px;
    padding-top: 100px;
}
.whole-page{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.navbarmenu{
    flex: 0 0 20%;
    background-color: bisque;
    height: 100%;
    padding-top: 100px;
}
header{
    width: 100%;
   
}
footer{
    width: 100%;
    bottom: 0;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.user-details{
    display: flex;
    flex-wrap: wrap;
}